body {
    background-color: #af9ed9;
    font-family: Avenir, sans-serif;
    margin: 0;
}

h1 {
    color: greenyellow;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.col {
    width: 40%;
}

.form-elements {
    padding: 0.5em;
    margin: 0.25em 0;
    width: 100%;
}